@font-face{
    font-family:'mokimono';src:url('../fonts/Moki-Mono.otf')
}

.box{
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    width: 400px;
    position: absolute;
}

.box-login{
    left: calc(50% - 200px);
    top: calc(50% - 260px);
}

.box-register{
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    top: calc(50% - 315px);
}

.bg-persiang
{
    background-color: #059D8E;
}

.bg-blackoliv
{
    background-color: #313732;
}

.btn-persiang
{
    color: #fff;
    background-color: #059D8E;
    border-color: #059D8E;
}

.btn-persiang:hover {
    color: #fff;
    background-color: #04776B;
    border-color: #024F47;
  }

  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #04776B;
    border-color: #024F47;
    box-shadow: 0 0 0 0.2rem rgba(6, 198, 179, 0.5);
  }

  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #059D8E;
    border-color: #059D8E;
  }

  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #024F47;
    border-color: #023B36;
  }

  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(6, 198, 179, 0.5);
  }

.text-persiang{
    color: #059D8E;
}

.text-spanisho{
    color: #F26101;
}

.moki{
    font-family: mokimono;
}

.topbar .dropdown-list .dropdown-header {
    background-color: #059D8E;
    border: 1px solid #059D8E;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #fff;
  }
